
@{
    ViewBag.Title = "ChefsAdd";
    Layout = "~/Views/Shared/BurgerWriter_Loyout.cshtml";
}
<!-- banner -->
<div class="main-banner-2">

</div>
<!-- //banner -->
<!-- page details -->
<div class="breadcrumb-agile bg-light py-2">
    <ol class="breadcrumb bg-light m-0">
        <li class="breadcrumb-item">
            <a href="/Burger/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Aşcı Ol</li>
    </ol>
</div>
<!-- //page details -->
<!-- login -->
<div class="login-contect py-5">
    <div class="container py-xl-5 py-3">
        <div class="login-body">
            <div class="login p-4 mx-auto">
                <h5 class="text-center mb-4">Kayıt Ol</h5>
                <form action="#" method="post">
                    <div class="form-group">
                        <label>Adınız Soyadınız</label>
                        <input type="text" class="form-control" name="ChefsNameSurName" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Hakkınızda</label>
                        <input type="text" class="form-control" name="ChefsAbout" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Resim Uzantınız</label>
                        <input type="text" class="form-control" name="Chefsİmage" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Yaşınız</label>
                        <input type="text" class="form-control" name="ChefsAge" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>İnstagram Adresiniz</label>
                        <input type="text" class="form-control" name="Chefsİnstagram" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Facebook Adresiniz</label>
                        <input type="text" class="form-control" name="ChefsFacebook" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label>Linkedin Adresiniz</label>
                        <input type="text" class="form-control" name="ChefsLinkedin" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="mb-2">Şifreniz</label>
                        <input type="password" class="form-control" name="ChefsPassword" placeholder="" required="">
                    </div>
                    <button type="submit" class="btn submit mb-4">Giriş Yap</button>
                    <p class="account-w3ls text-center text-da">
                        Hesabın Var mı?
                        <a href="/UserLogin/UserRegister">Giriş Yap</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
