<div class="col-lg-4 footer-grid_section_1its">
    <div class="footer-title">
        <h3>Öneride Bulun</h3>
    </div>
    <div class="info-form-right mt-4 p-0">
        <form action="#" method="post">
            <div class="row">
                <div class="col-lg-6 form-group mb-2 pr-lg-1">
                    <input type="text" class="form-control" name="ContactName" placeholder="Adınız" required="">
                </div>
                <div class="col-lg-6 form-group mb-2 pl-lg-1">
                    <input type="text" class="form-control" name="ContactNumber" placeholder="Telefonunuz"
                           required="">
                </div>
            </div>
            <div class="form-group mb-2">
                <input type="email" class="form-control" name="ContactEmail" placeholder="Email Adresiniz" required="">
            </div>
            <div class="form-group mb-2">
                <textarea name="ContactMessage" class="form-control" placeholder="Mesajınız"
                          required=""></textarea>
            </div>
            <button type="submit" class="btn submit-contact ml-auto">Gönder</button>
        </form>
    </div>
</div>

