@using EntityLayerr.Concerete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Burger_Layout.cshtml";
}
<!-- banner -->
<div class="main-banner-2">

</div>
<!-- //banner -->
<!-- page details -->
<div class="breadcrumb-agile bg-light py-2">
    <ol class="breadcrumb bg-light m-0">
        <li class="breadcrumb-item">
            <a href="/Burger/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
    </ol>
</div>
<!-- //page details -->
<!-- about -->
<section class="w3ls-bnrbtm py-5" id="about">
    @foreach (var x in Model)
    {
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <h3 class="w3ls-title mb-3"> <span>Hakkımızda</span></h3>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-xl-5 mt-xl-2 mt-lg-0">
                <h3 class="title-sub mb-4">Donec conse sapien archi<br>ut cursus rhons.</h3>
                <p class="sub-para">
                  @x.AboutDetails
                </p>
            </div>
            <div class="col-lg-6 text-center mt-lg-0 mt-4">
                <img src="@x.Aboutİmage" alt="about" class="img-fluid" />
            </div>
        </div>
    </div>
    }
</section>
<section class="middle py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Bizim işimiz</p>
            <h3 class="w3ls-title mb-3">Mükemmel <span>Hizmetler</span></h3>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right">
                        <h4 class="mb-3"><a href="login.html">Ücretsiz Kargo</a></h4>
                        <p>Sizler için ücretsiz kargo veriyoruz</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="~/burgersitesi/web/images/s1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 w3pvt-lauits_banner_bottom_left">

            </div>
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="~/burgersitesi/web/images/s2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right">
                        <h4 class="mb-3"><a href="login.html">Ücretsiz ve Kolay iade</a></h4>
                        <p>iade de sıkıntı olmaz</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
                        <h4 class="mb-3"><a href="login.html">Online Sipariş</a></h4>
                        <p>Online Siparişimiz var.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
                        <img src="~/burgersitesi/web/images/s3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">

            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
                        <img src="~/burgersitesi/web/images/s4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
                        <h4 class="mb-3"><a href="login.html">24/7 Hizmet</a></h4>
                        <p>24 saat hizmet vermekteyiz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-blog-2">
        <img src="~/burgersitesi/web/images/img.png" alt="" class="img-fluid">
    </div>
</section>
<section class="wthree-slider" id="masthead">
</section>
