
@{
    ViewBag.Title = "BurgerWriter_Loyout";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Tasty Burger Restaurants Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Tasty Burger Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!--// Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/burgersitesi/web/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/burgersitesi/web/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <!-- css slider -->
    <link rel="stylesheet" href="~/burgersitesi/web/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/burgersitesi/web/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
    <header id="home">
        <!-- top-bar -->
        <div class="top-bar py-2 border-bottom">
            <div class="container">
                <div class="row middle-flex">
                    <div class="col-xl-7 col-md-5 top-social-agile mb-md-0 mb-1 text-lg-left text-center">
                        <div class="row">
                            <div class="col-xl-3 col-6 header-top_w3layouts">
                                <p class="text-da">
                                    <span class="fa fa-map-marker mr-2"></span>Türkiye , Samsun
                                </p>
                            </div>
                            <div class="col-xl-3 col-6 header-top_w3layouts">
                                <p class="text-da">
                                    <span class="fa fa-phone mr-2"></span>05445040805
                                </p>
                            </div>
                            <div class="col-xl-6"></div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-7 top-social-agile text-md-right text-center pr-sm-0 mt-md-0 mt-2">
                        <div class="row middle-flex">
                            <div class="col-lg-7 col-8 social-grid-w3">
                                <!-- social icons -->
                                <!--<ul class="top-right-info">
                                    <li>
                                        <p>Bizi Takip ET:</p>
                                    </li>
                                    <li class="facebook-w3">
                                        <a href="~/burgersitesi/web/#facebook">
                                            <span class="fa fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li class="twitter-w3">
                                        <a href="~/burgersitesi/web/#twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li class="google-w3">
                                        <a href="~/burgersitesi/web/#google">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                    <li class="linkedin-w3">
                                        <a href="#linkedin">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                </ul>-->
                                <!-- //social icons -->
                                <ul class="top-right-info">
                                    <li>
                                        <p>Bizi Takip Edin:</p>
                                    </li>
                                    <li class="instagram-w3">
                                        <a href="#instagram">
                                            <span class="fa fa-instagram"></span>
                                        </a>
                                    </li>
                                    <li class="github-w3">
                                        <a href="#github">
                                            <span class="fa fa-github"></span>
                                        </a>
                                    </li>
                                    <li class="linkedin-w3">
                                        <a href="#linkedin">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- //top-bar -->
    <!-- header 2 -->
    <!-- navigation -->
    <div class="main-top py-1">
        <div class="container">
            <div class="nav-content">
                <!-- logo -->
                <h1>
                    <a id="logo" class="logo" href="/Burger/Index">
                        <img src="~/burgersitesi/web/images/logo.png" alt="" class="img-fluid"><span>Jack</span> Burger
                    </a>
                </h1>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_web-dealingsls">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="/Burger/Index">Anasayfa</a></li>
                            <li><a href="/About/Index">Hakkımızda</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-3" class="toggle toogle-2">
                                    Pages <span class="fa fa-angle-down"
                                                aria-hidden="true"></span>
                                </label>
                                <a href="~/burgersitesi/web/#pages">Sayfalar <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-3" />
                                <ul>
                                    <li><a class="drop-text" href="#services">Servisler</a></li>
                                    <li><a class="drop-text" href="/Chefs/Index">Şeflerimiz</a></li>
                                    <li><a class="drop-text" href="/Eats/EatsAdd">Yemek Ekle</a></li>
                                    <li><a class="drop-text" href="/AdminCategory/Index">Kategoriler</a></li>
                                    <li><a class="drop-text" href="/UserLogin/LogOut">Çıkış Yap</a></li>
                                </ul>
                            </li>
                            <li><a href="/Menu/Index">Menu</a></li>

                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </div>
    @RenderBody()
    <!-- footer -->
    <footer class="py-5">
        <div class="container py-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_1its footer-text">
                    <!-- logo -->
                    <h2>
                        <a class="logo text-wh" href="/Burger/Index">
                            <img src="~/burgersitesi/web/images/logo.png" alt="" class="img-fluid"><span>Jack</span> Burger
                        </a>
                    </h2>
                    <!-- //logo -->
                    <p class="mt-lg-4 mt-3 mb-lg-5 mb-4">
                        Taze ve çıtır Burgerler burada
                    </p>
                    <!-- social icons -->
                    <ul class="top-right-info">
                        <li>
                            <p>Bizi Takip Edin:</p>
                        </li>
                        <li class="instagram-w3">
                            <a href="#instagram">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                        <li class="github-w3">
                            <a href="#github">
                                <span class="fa fa-github"></span>
                            </a>
                        </li>
                        <li class="linkedin-w3">
                            <a href="#linkedin">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                    <!-- //social icons -->
                </div>
                <div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
                    <div class="footer-title">
                        <h3>Bize Ulaşın</h3>
                    </div>
                    <div class="footer-text mt-4">
                        <p>Address : Türkiye/Samsun</p>
                        <p class="my-2">Telefon : 05445040805</p>
                        <p>Email : <a href="">yakup.0950@gmail.com</a></p>
                    </div>


                </div>
                @Html.Action("ContactAdd", "Contact")
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>
            © 2022 JACK BURGER. Tüm Haklar Saklıdır |
        </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->

</body>

</html>
