<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form action="#" method="post">
            <div class="form-group">
                <input class="form-control" type="hidden" name="BurgerİD" value="@ViewBag.deger" placeholder="İD"
                       required="">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="CommentName" placeholder="Adınız"
                       required="">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="CommentMail" placeholder="Email Adresiniz"
                       required="">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="CommentSubject" placeholder="Konu"
                       required="">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="CommentMessage" placeholder="Mesajınız..."
                          required=""></textarea>
            </div>
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>
