@using EntityLayerr.Concerete
@model List<Burger>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Burger_Layout.cshtml";
}

<div class="baneer-w3ls">
    <div class="row no-gutters">
        <div class="col-xl-5 col-lg-6">
            <div class="banner-left-w3">
                <div class="container">
                    <div class="banner-info_agile_w3ls">
                        <h5>Taze Burgerler</h5>
                        <h3 class="text-da mb-4">Alevli <span>Izgara Burger</span> </h3>
                        <p>
                            Taze ve çıtır Burgerler burada
                        </p>
                        <a href="/Menu/Index" class="button-w3ls active mt-5">
                            Daha Fazla
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                        <a href="menu.html" class="button-w3ls mt-5 ml-2">
                            Şipariş ver
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 callbacks_container">
            <!-- banner slider -->
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <ul class="banner_slide_bg">
                    <li>
                        <div class="banner-top1"></div>
                    </li>
                    <li>
                        <div class="banner-top2"></div>
                    </li>
                    <li>
                        <div class="banner-top3"></div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                </div>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                    </div>
                </div>
            </div>
            <!-- //banner slider -->
        </div>
    </div>
</div>
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-4">
            <div class="info-about text-center">
                <h4 class="sub-tittle-w3">Teknik Detaylar</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Kullanılan Geliştirme Bileşenleri</h3>
                <div class="row mt-lg-5 mt-3">
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">C#</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Entity Framework Code First</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Asp.Net Mvc</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Solid Prensipleri</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Kurumsal Mimari</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">
                                Sql Veri Tabanı
                            </h4>
                            <div class="progress">

                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hakkımızda -->
<div class="about-bottom">
    <div class="row no-gutters">
        <div class="col-lg-5 col-md-6 about">

        </div>
        <div class="col-lg-7 col-md-6 about-right-w3 text-right py-md-5">
            <div class="right-space py-xl-5 py-lg-3">
                <div class="title-section mb-4">
                    <p class="w3ls-title-sub">Hakkımızda</p>
                    <h3 class="w3ls-title">HoşGeldiniz <span>JackBurger</span></h3>
                </div>
                <p class="about-text">
                    Taze ve çıtır Burgerler burada
                </p>
                <a href="/About/Index" class="button-w3ls mt-5">
                    Daha Fazla
                    <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<section class="blog_w3ls py-5">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Lezzetli</p>
            <h3 class="w3ls-title">Bizim <span>Burgerlerimiz</span></h3>
        </div>
        <div class="row">
            @foreach (var x in Model)
                {
                <div class="col-lg-4 col-md-6">
                    <div class="card border-0 med-blog">
                        <div class="card-header p-0">
                            <a href="/Burger/Burgerİnformation/@x.BURGERİD ">
                                <img class="card-img-bottom" src="@x.BurgerImage" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body border border-top-0">
                            <h5 class="blog-title card-title m-0"><a href="menu.html">@x.BurgerName</a></h5>
                            <p class="mt-3">@x.BurgerSpecification</p>
                            <a href="/Burger/Burgerİnformation/@x.BURGERİD" class="btn button-w3ls mt-4 mb-3">
                               Daha Fazla
                                <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                }
        </div>
    </div>
</section>

@*<section class="offer pt-lg-3">
    <div class="row no-gutters">
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="menu.html">En İyi Fast Food Koleksiyonu</a></h4>
                    <p class="text-li">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
                        ut perspiciatis
                        unde omnis iste natus error.
                    </p>
                    <a href="menu.html" class="button-w3ls active mt-5">
                        Daha Fazla
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3 blog-sec-w3-2">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="menu.html">Organik En İyi ve Taze Gıda</a></h4>
                    <p class="text-li">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
                        ut perspiciatis
                        unde omnis iste natus error.
                    </p>
                    <a href="menu.html" class="button-w3ls active mt-5">
                       Daha Fazla
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="middle py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Bizim işimiz</p>
            <h3 class="w3ls-title mb-3">Mükemmel <span>Hizmetler</span></h3>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right">
                        <h4 class="mb-3"><a href="login.html">Ücretsiz Kargo</a></h4>
                        <p>Sizler için ücretsiz kargo veriyoruz</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="~/burgersitesi/web/images/s1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 w3pvt-lauits_banner_bottom_left">

            </div>
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="~/burgersitesi/web/images/s2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right">
                        <h4 class="mb-3"><a href="login.html">Ücretsiz ve Kolay iade</a></h4>
                        <p>iade de sıkıntı olmaz</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
                        <h4 class="mb-3"><a href="login.html">Online Sipariş</a></h4>
                        <p>Online Siparişimiz var.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
                        <img src="~/burgersitesi/web/images/s3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">

            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
                        <img src="~/burgersitesi/web/images/s4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
                        <h4 class="mb-3"><a href="login.html">24/7 Hizmet</a></h4>
                        <p>24 saat hizmet vermekteyiz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-blog-2">
        <img src="~/burgersitesi/web/images/img.png" alt="" class="img-fluid">
    </div>
</section>
<section class="wthree-slider" id="masthead">
</section>
<!-- //slides images -->
<!-- newsletter -->
